@charset "ISO-8859-1";
h1, h2 {
	text-align: center;
}

#navigation {
	border-style: solid;
	margin-right: 250px;
	margin-left: 23px;
}

.nav {
	margin-left: 100px;
}

#search {
	margin-left: 500px;
}

div.picture {
	margin: 23px;
	border: 1px solid #ccc;
	float: left;
	width: 250px;
}

div.picture:hover {
	border: 1px solid #777;
}

div.picture img {
	width: 100%;
	height: auto;
}


#shoppingCart {
	height: 50px;
	width: 50px;
}

#divShoppingCart {
	margin-left: 1430px;
}

#detailPicture {
	display: block;
	margin-left: 23px;
	margin-right: auto;
}

#detailName {
	display: block;
	margin-left: 23px;
	margin-right: auto;
}

#detailDescription {
	display: block;
	margin-left: 23px;
	margin-right: auto;
	font-size: 15px;
}

.warenkorbListe {
	border-style: solid;
	float:left;
	margin: 50px;
}

.formular {
	text-align: center;
}

#formularTable {
	margin-left: auto;
	margin-right: auto;
}

#sizeTable {
	margin-left: 450px;
}

#buttonAdd {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}